.gallery-img {
    width: 100%;        
    height: 300px;   
    object-fit: cover;  
    
    border-radius: 20px;
    opacity: 0.8;       
    transition: 0.5s;   
    cursor: pointer;    
}

.gallery-img:hover {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(27, 70, 128, 0.3);
    z-index: 2;
    position: relative; 
}
footer a:hover {
    color: #46317e !important;
    text-decoration: underline !important;
}

footer {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.1);
}