body {
    background-color: #f8f9fa;
}

/* Card Hover Effect */
.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Image Hover Effect */
.product-card img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}

/* Change Text Color on Hover */
.product-card:hover .card-title {
    color: #0d6efd;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

footer {
    margin-top: 400px;
}